<html>
<head>
<% for(var iparentc = 0;iparentc < parent.columnheader.length;iparentc++) {%>
    <% if(parent.columnheader[iparentc].column === "Invoice Number") {%> 
        <title><%= parent.title + "#" + parent.row[0].column[iparentc].value %></title>
    <% } %>
<% } %>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
@media print
{
  #printbutton
  {
    display:none ;
  }
  *
  {
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact;
  }
}
</style>
<style>
line {
stroke: rgb(255,0,0);
stroke-width: 2;
}
</style>
<head>
<body>
<% for(var trans in transltn) {%>
      <% if(trans === "Print") {%> 
          <button id="printbutton" onclick="window.print();" rn="PrintInvoice" un="<%= transltn[trans] %>" ot="JButton"><%= transltn[trans] %></button>
      <% } %> 
<% } %>
<center><h1><u><b rn="AppletTitle" un="" ot="PlainText"><%= parent.title %></b></u></h1></center>
<p>
<table width="80%" align=center border="0">
  <tr>
    <td width="50%" rowspan=5 align=left><img src="images/logo.png"></td>
    <td width="50%" align=right>Oracle</td>
  </tr>
  <tr>
    <td width="50%" align=right>Oracle Parkway Redwood Shores</td>
  </tr>
  <tr>
    <td width="50%" align=right>CA 94065</td>
  </tr>
  <tr>
    <td width="50%" align=right>United States</td>
  </tr>
  <tr>
    <td width="50%" align=right>+1.650.506.7000</td>
  </tr>
</table>
<p>
<p>
<% var TATitle; %>
<% var TAValue; %>
<table width="80%" align=center border="0">
<% for(var iparentc = 0;iparentc < parent.columnheader.length;iparentc++) {%>
   <tr>
    <td width="20%" align=left><b><%= parent.columnheader[iparentc].title %></b></td>
    <td width="80%" align=left rn="<%= parent.columnheader[iparentc].column %>" un="<%= parent.columnheader[iparentc].title %>" ot="JText"><%= parent.row[0].column[iparentc].value %></td>
    <% if(parent.columnheader[iparentc].column === "Total Amount") {%> 
        <% TATitle =  parent.columnheader[iparentc].title ;%>
        <% TAValue =  parent.row[0].column[iparentc].value ;%>
    <% } %>
  </tr> 
<% } %>  
</table>

<% var Signature; %>
<% for(var iBCc = 0; iBCc < parent.child.length; iBCc++) {%>
    <% if (parent.child[iBCc].type === "FS Invoice Signature") {%>
        <% Signature = '<p>'; %>
        <% Signature += '<table width="80%" align=center border="0">'; %>
        <% Signature += '<tr>'; %>
        <% Signature += '<td align=left bgcolor=lightgrey><b rn="AppletTitle" un="" ot="PlainText">'; %>
        <% Signature +=  parent.child[iBCc].title ;%>
        <% Signature +='</b></td>'; %>
        <% Signature += '</tr>' ; %>
        <% Signature += '</table>'; %>
        <% Signature += '</p>' ; %>
    <% } %>
    <% if (parent.child[iBCc].type !== "FS Invoice Signature") {%>
        <p>
        <table width="80%" align=center border="0">
        <tr>
        <td align=left bgcolor=lightgrey><b rn="AppletTitle" un="" ot="PlainText"><%= parent.child[iBCc].title %></b></td>
        </tr>
        </table>
        </p>
    <% } %>
    <%if(parent.child[iBCc].type === "FS Invoice Signature") {%>
        <% for(var iLIrec = 0;iLIrec < parent.row[0].child[iBCc].row.length;iLIrec++) { %>
                <% Signature += '<table width="80%" align=center border="0">'; %>
                <% Signature += '<tr> <td width="50%">'; %>
                  <% for(var iLIc = 0;iLIc < parent.row[0].child[iBCc].row[iLIrec].column.length;iLIc++) {%>
                    <% if (parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Signature") {%>
                       <% Signature += '<svg height="225px" width="600px" align="left">' %>
                           <% var paths = JSON.parse(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value); %>
                           <% for(var i in paths) { %>
                                <% if(typeof(paths[i]) === "object"){ %>
                                    <% Signature += '<path d="M'; %>
                                    <% Signature += paths[i].mx ; %>
                                    <% Signature += " " ; %>
                                    <% Signature += paths[i].my ; %>
                                    <% Signature += 'L' ; %>
                                    <% Signature += paths[i].lx ; %>
                                    <% Signature += " " ; %>
                                    <% Signature += paths[i].ly ; %>
                                    <% Signature += 'Z" stroke="red" stroke-width="2" fill="none"/>'; %>
                                <% } %>
                           <% } %>
                       <% Signature += '</svg></td>'; %>
                      <%  }%>
                    <% } %>                
                <% } %>
            <% Signature += '</tr>'; %>
            <% Signature += '</table>' %>
    <% } %>

    <% if(parent.child[iBCc].type === "FS Invoice Line Item Details") {%>
        <table width="80%" align=center border="0">
        <tr> 
            <% var ExtPriceDisp; %>
            <% var LineNumberDisp; %>
            <% var ProductDisp; %>
            <% var QtyDisp; %>
            <% var ExtTaxDisp; %>
            <% var TotalDisp; %>
            <% var DiscountDisp; %>
            <% var SKUDisp; %>
            <% for(var iLIc = 0;iLIc < parent.child[iBCc].columnheader.length;iLIc++) {%>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Line Number") {%>
                    <% LineNumberDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Calculated Product Name") {%>
                    <% ProductDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Quantity") {%>
                    <% QtyDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Extended Price") {%>
                    <% ExtPriceDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Extended Tax") {%>
                    <% ExtTaxDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Total Price") {%>
                    <% TotalDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Discount Percent") {%>
                    <% DiscountDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Part Number") {%>
                    <% SKUDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
            <% } %>
            <% if(typeof(LineNumberDisp) !== "undefined") {%>
                    <td width="10%" align=left bgcolor=lightgrey><b><%= LineNumberDisp %></b></td>
                <% } %>
                <% if(typeof(SKUDisp) !== "undefined") {%>
                    <td width="10%" align=left bgcolor=lightgrey><b><%= SKUDisp %></b></td>
                <% } %>
                <% if(typeof(ProductDisp) !== "undefined") {%>
                    <td width="30%" align=left bgcolor=lightgrey><b><%= ProductDisp %></b></td>
                <% } %>
                <% if(typeof(QtyDisp) !== "undefined") {%>
                    <td width="10%" align=left bgcolor=lightgrey><b><%= QtyDisp %></b></td>        
                <% } %>
                <% if(typeof(ExtPriceDisp) !== "undefined") {%>
                    <td width="10%" align=left bgcolor=lightgrey><b><%= ExtPriceDisp %></b></td>
                <% } %>
                <% if(typeof(ExtTaxDisp) !== "undefined") {%>
                    <td width="10%" align=left bgcolor=lightgrey><b><%= ExtTaxDisp %></b></td>
                <% } %>
                <% if(typeof(TotalDisp) !== "undefined") {%>
                    <td width="10%" align=left bgcolor=lightgrey><b><%= TotalDisp %></b></td>
                <% } %>
                <% if(typeof(DiscountDisp) !== "undefined") {%>
                    <td width="10%" align=left bgcolor=lightgrey><b><%= DiscountDisp %></b></td>
                <% } %>
        </tr>
        </table>
            <% var LineNumberVal; %>
            <% var ProductVal; %>
            <% var QtyVal; %>
            <% var ExtPriceVal; %>
            <% var ExtTaxVal; %>
            <% var TotalVal; %>
            <% var DiscountVal; %>
            <% var SKUVal; %>
            <% for(var iLIrec = 0;iLIrec < parent.row[0].child[iBCc].row.length;iLIrec++) {%>
                <% var Amount; %>
                <table width="80%" align=center border="0">
                <tr> 
                <% for(var iLIc = 0;iLIc < parent.row[0].child[iBCc].row[iLIrec].column.length;iLIc++) {%>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Line Number") {%>
                        <% LineNumberVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Calculated Product Name") {%>
                        <% ProductVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Quantity") {%>
                        <% QtyVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Extended Price") {%>
                        <% ExtPriceVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Extended Tax") {%>
                        <% ExtTaxVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Total Price") {%>
                        <% TotalVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Discount Percent") {%>
                        <% DiscountVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Part Number") {%>
                        <% SKUVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                <% } %>
                <% if(typeof(LineNumberVal) !== "undefined") {%>
                    <td width="10%" align=left rn="LineNumber" un="<%= LineNumberDisp %>" ot="JText"><%= LineNumberVal %></td>
                <% } %>
                <% if(typeof(SKUVal) !== "undefined") {%>
                    <td width="10%" align=left rn="Part Number" un="<%= SKUDisp %>" ot="JText"><%= SKUVal %></td>
                <% } %>
                <% if(typeof(ProductVal) !== "undefined") {%>
                    <td width="30%" align=left rn="Product" un="<%= ProductDisp %>" ot="JText"><%= ProductVal %></td>
                <% } %>
                <% if(typeof(QtyVal) !== "undefined") {%>
                    <td width="10%" align=left rn="Quantity" un="<%= QtyDisp %>" ot="JText"><%= QtyVal %></td>
                <% } %>
                <% if(typeof(ExtPriceVal) !== "undefined") {%>
                    <td width="10%" align=left rn="ExtPrice" un="<%= ExtPriceDisp %>" ot="JText"><%= ExtPriceVal %></td>
                <% } %>
                <% if(typeof(ExtTaxVal) !== "undefined") {%>
                    <td width="10%" align=left rn="ExtTax" un="<%= ExtTaxDisp %>" ot="JText"><%= ExtTaxVal %></td>
                <% } %>
                <% if(typeof(TotalVal) !== "undefined") {%>
                    <td width="10%" align=left rn="TotalPrice" un="<%= TotalDisp %>" ot="JText"><%= TotalVal %></td>
                <% } %>
                <% if(typeof(DiscountVal) !== "undefined") {%>
                    <td width="10%" align=left rn="DisPercent" un="<%= DiscountDisp %>" ot="JText"><%= DiscountVal %></td>
                <% } %>
                </tr>
                </table>
        <% } %>
    <% } %>
<% } %>

<p>
<table width="80%" align=center border="0">
  <tr>
      <td width="80%" align=right bgcolor=lightgrey><b><%= TATitle %></b></td>
      <td width="20%" align=right bgcolor=lightgrey  rn="InvoiceTotal" un="<%= TATitle %>" ot="JText"><%= TAValue %></td>
  </tr>
</table>
<%- Signature %>
</body>
</html>