<html>
<head>
<% for(var iparentc = 0;iparentc < parent.columnheader.length;iparentc++) {%>
    <% if(parent.columnheader[iparentc].column === "Order Number") {%> 
        <title><%= parent.title + "#" + parent.row[0].column[iparentc].value %></title>
    <% } %>
<% } %>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
@media print
{
  #printbutton
  {
    display:none ;
  }
  *
  {
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact;
  }
}

line {
stroke: rgb(255,0,0);
stroke-width: 2;
}
table.cg-print-table caption
{
    background-color : lightgray;
    margin: 10px 0px;
    text-align : left;
}
table.cg-print-table
{
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     text-align: left;
     border: 0;
}
table.cg-print-table tr td, table.cg-print-table tr td
{
    text-align: left;
}
table.cg-print-header tr:not(:nth-child(1)) td,table.cg-print-header tr:nth-child(1) td:not(:nth-child(1))
{
    width: 50%;
    text-align: right;
}
table.cg-print-column-header tr td:nth-child(1)
{
    width: 20%;
}
table.cg-print-lineitems tr th
{
    background-color : lightgray;
    width: 7%;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
table.cg-print-lineitems tr td
{ 
    width: 7%;
}
table.cg-print-lineitems tr td:nth-child(3), table.cg-print-lineitems tr th:nth-child(3)
{ 
    width: 24%;
}
table.cg-print-lineitems tr td:nth-child(7), table.cg-print-lineitems tr td:nth-child(9)
{
    max-width: 50px;
    word-wrap: break-word;
}
table.cg-print-total tr td
{
    background-color : lightgray;
    border-left: 2px solid white;
    border-right: 2px solid white;
    text-align: right;
}
</style>

</head>
<body>
<% for(var trans in transltn) {%>
      <% if(trans === "Print") {%> 
          <button id="printbutton" onclick="window.print();" rn="PrintInvoice" un="<%= transltn[trans] %>" ot="JButton"><%= transltn[trans] %></button>
      <% } %> 
<% } %>
<center><h1><u><b rn="AppletTitle" un="" ot="PlainText"><%= parent.title %></b></u></h1></center>
<table class = "cg-print-table cg-print-header">
  <tr>
    <td rowspan="5"><img src="images/logo.png"></td>
    <td>Oracle</td>
  </tr>
  <tr>
    <td>Oracle Parkway Redwood Shores</td>
  </tr>
  <tr>
    <td>CA 94065</td>
  </tr>
  <tr>
    <td>United States</td>
  </tr>
  <tr>
    <td>+1.650.506.7000</td>
  </tr>
</table>
<% var TATitle; %>
<% var TAValue; %>
<% var Signature; %>
<% var SignatureTitle; %>
<table class = "cg-print-table cg-print-column-header">
<% for(var iparentc = 0;iparentc < parent.columnheader.length;iparentc++) {%>
   <tr>
    <td><b><%= parent.columnheader[iparentc].title %></b></td>
    <td rn="<%= parent.columnheader[iparentc].column %>" un="<%= parent.columnheader[iparentc].title %>" ot="JText"><%= parent.row[0].column[iparentc].value %></td>
    <% if(parent.columnheader[iparentc].column === "Order Total") {%> 
        <% TATitle =  parent.columnheader[iparentc].title ;%>
        <% TAValue =  parent.row[0].column[iparentc].value ;%>
    <% } %>
  </tr> 
<% } %>  
</table>

<% for(var iBCc = 0; iBCc < parent.child.length; iBCc++) {%>   
    <% if (parent.child[iBCc].type === "CG Order - Signature") {%>
         <% SignatureTitle =  parent.child[iBCc].title ;%>
          <% for(var iLIrec = 0;iLIrec < parent.row[0].child[iBCc].row.length;iLIrec++) { %>
                <% Signature = '<tr> <td width="50%"></td><td width="50%">'; %>
                  <% for(var iLIc = 0;iLIc < parent.row[0].child[iBCc].row[iLIrec].column.length;iLIc++) {%>
                    <% if (parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Signature") {%>
                       <% Signature += '<svg height="225px" width="600px" align="right">' %>
                           <% var paths = JSON.parse(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value); %>
                           <% for(var i in paths) { %>
                                <% if(typeof(paths[i]) === "object"){ %>
                                    <% Signature += '<path d="M'; %>
                                    <% Signature += paths[i].mx ; %>
                                    <% Signature += " " ; %>
                                    <% Signature += paths[i].my ; %>
                                    <% Signature += 'L' ; %>
                                    <% Signature += paths[i].lx ; %>
                                    <% Signature += " " ; %>
                                    <% Signature += paths[i].ly ; %>
                                    <% Signature += 'Z" stroke="red" stroke-width="2" fill="none"/>'; %>
                                <% } %>
                           <% } %>
                       <% Signature += '</svg></td>'; %>
                      <%  }%>
                    <% } %>                
                <% } %>
            <% Signature += '</tr>'; %>
    <% } %>               
    <% if(parent.child[iBCc].type === "Order Entry - Line Items") {%>
        <table class = "cg-print-table cg-print-lineitems">
        <caption><%= parent.child[iBCc].title %></caption>
        <tr> 
            <% var LineNumberDisp; %>
            <% var PartNumberDisp; %>
            <% var ProductDisp; %>
            <% var QtyDisp; %>
            <% var ProductStatusDisp; %>
            <% var DiscountPercentDisp; %>
            <% var ListPriceDisp; %>
            <% var ListTaxDisp; %>
            <% var TotalDisp; %>
            <% for(var iLIc = 0;iLIc < parent.child[iBCc].columnheader.length;iLIc++) {%>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Line Number") {%>
                    <% LineNumberDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Part Number") {%>
                    <% PartNumberDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Product") {%>
                    <% ProductDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Quantity Requested") {%>
                    <% QtyDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Product Status Code") {%>
                    <% ProductStatusDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Discount Percent") {%>
                    <% DiscountPercentDisp =  parent.child[iBCc].columnheader[iLIc].title ; %>
                 <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Base Price") {%>
                    <% ListPriceDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "List Tax") {%>
                    <% ListTaxDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
                <% if(parent.child[iBCc].columnheader[iLIc].column === "Total") {%>
                    <% TotalDisp =  parent.child[iBCc].columnheader[iLIc].title ;%>
                <% } %>
            <% } %>
                <% if(typeof(LineNumberDisp) !== "undefined") {%>
                    <th><b><%= LineNumberDisp %></b></th>
                <% } %>
                <% if(typeof(PartNumberDisp) !== "undefined") {%>
                    <th><b><%= PartNumberDisp %></b></th>
                <% } %>
                <% if(typeof(ProductDisp) !== "undefined") {%>
                    <th><b><%= ProductDisp %></b></th>
                <% } %>
                <% if(typeof(QtyDisp) !== "undefined") {%>
                    <th><b><%= QtyDisp %></b></th>        
                <% } %>
                <% if(typeof(ProductStatusDisp) !== "undefined") {%>
                    <th><b><%= ProductStatusDisp %></b></th>
                <% } %>
                <% if(typeof(DiscountPercentDisp) !== "undefined") {%>
                    <th><b><%= DiscountPercentDisp %></b></th>
                <% } %>
                <% if(typeof(ListPriceDisp) !== "undefined") {%>
                    <th><b><%= ListPriceDisp %></b></th>
                <% } %>
                <% if(typeof(ListTaxDisp) !== "undefined") {%>
                    <th><b><%= ListTaxDisp %></b></th>
                <% } %>
                <% if(typeof(TotalDisp) !== "undefined") {%>
                    <th><b><%= TotalDisp %></b></th>
                <% } %>
        </tr>
            <% var LineNumberVal; %>
            <% var PartNumberVal; %>
            <% var ProductVal; %>
            <% var QtyVal; %>
            <% var ProductStatusVal; %>
            <% var DiscountVal; %>
            <% var ListPriceVal; %>
            <% var ListTaxVal; %>
            <% var TotalVal; %>
            <% for(var iLIrec = 0;iLIrec < parent.row[0].child[iBCc].row.length;iLIrec++) {%>
                <% var Amount; %>
                <% for(var iLIc = 0;iLIc < parent.row[0].child[iBCc].row[iLIrec].column.length;iLIc++) {%>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Line Number") {%>
                        <% LineNumberVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                     <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Part Number") {%>
                        <% PartNumberVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Product") {%>
                        <% ProductVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Quantity Requested") {%>
                        <% QtyVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Product Status Code") {%>
                        <% ProductStatusVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Discount Percent") {%>
                        <% DiscountVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Base Price") {%>
                        <% ListPriceVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "List Tax") {%>
                        <% ListTaxVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                    <% if(parent.row[0].child[iBCc].row[iLIrec].column[iLIc].name === "Total") {%>
                        <% TotalVal =  parent.row[0].child[iBCc].row[iLIrec].column[iLIc].value ;%>
                    <% } %>
                <% } %>
               <tr> 
                <% if(typeof(LineNumberVal) !== "undefined") {%>
                    <td rn="LineNumber" un="<%= LineNumberDisp %>" ot="JText"><%= LineNumberVal %></td>
                <% } %>
                 <% if(typeof(PartNumberVal) !== "undefined") {%>
                    <td rn="PartNumber" un="<%= PartNumberDisp %>" ot="JText"><%= PartNumberVal %></td>
                <% } %>
                <% if(typeof(ProductVal) !== "undefined") {%>
                    <td rn="Product" un="<%= ProductDisp %>" ot="JText"><%= ProductVal %></td>
                <% } %>
                <% if(typeof(QtyVal) !== "undefined") {%>
                    <td rn="Quantity" un="<%= QtyDisp %>" ot="JText"><%= QtyVal %></td>            
                <% } %>
                <% if(typeof(ProductStatusVal) !== "undefined") {%>
                    <td rn="ProductStatus" un="<%= ProductStatusDisp %>" ot="JText"><%= ProductStatusVal %></td>
                <% } %>
                <% if(typeof(DiscountVal) !== "undefined") {%>
                    <td rn="DisPercent" un="<%= DiscountPercentDisp %>" ot="JText"><%= DiscountVal %></td>
                <% } %>
                <% if(typeof(ListPriceVal) !== "undefined") {%>
                    <td rn="ListPrice" un="<%= ListPriceDisp %>" ot="JText"><%= ListPriceVal %></td>
                <% } %>
                <% if(typeof(ListTaxVal) !== "undefined") {%>
                    <td rn="ListTax" un="<%= ListTaxDisp %>" ot="JText"><%= ListTaxVal %></td>
                <% } %>
                <% if(typeof(TotalVal) !== "undefined") {%>
                    <td rn="TotalPrice" un="<%= TotalDisp %>" ot="JText"><%= TotalVal %></td>
                <% } %>
                </tr>
        <% } %>
    <% } %>
   </table>
<% } %>

<table class= "cg-print-table cg-print-total">
  <tr>
      <td width="80%"><b><%= TATitle %></b></td>
      <td width="20%" rn="OrderTotal" un="<%= TATitle %>" ot="JText"><%= TAValue %></td>
  </tr>
</table>


<table class= "cg-print-table">
    <caption><%= SignatureTitle %></caption>
    <%- Signature %>
</table>
</body>
</html>