<div class="siebui-d2p-tab-content">
    <div class="siebui-action-area siebui-d2p-grid-area">
        <h3 class="siebui-area-title" data-res="INTL_TITTLE_EXECUTION">Execution</h3>
        <div id="executionLog" style="display: none" class="siebui-d2p-log-popup info">
            <div class="siebui-d2p-log-header" class="siebui-d2p-log-width">
                <div class="siebui-d2p-log-header-menu">
                    <div data-res="INTL_LABEL_LOG">Log</div>
                </div>
                <div class="siebui-d2p-log-button-pane">

                    <button id="logRefresh" class="btn siebui-d2p-log-refresh" data-res="INTL_TITLE_REFRESH">Refresh</button>
                    <a class="close siebui-icon-close"></a>
                </div>
            </div>
            <div class="siebui-d2p-log-content">
                <pre class="siebui-d2p-log-data">
                    <p id="executionLogContent"></p>
                </pre>
            </div>

        </div>
        <div class="siebui-d2p-grid-execution">
            <table id="execution-table">
            </table>
            <div id="pager"></div>
        </div>
    </div>
</div>
