<div class="siebui-d2p-tab-content">
    <div class="siebui-action-area siebui-d2p-grid-area">
        <div class="siebui-area-title">
            <div data-res="INTL_TITTLE_HISTORY" class="siebui-title-header">History</div>
            <div class="siebui-d2p-history-button">
                <span data-bind="click: $root.queryHistoryRecords"
                    class="btn-link siebui-d2p-history-icon siebui-icon-search siebui-d2p-history-query"
                    data-title="INTL_TITLE_QUERY" title="Query"></span>

                <span data-bind="click: $root.executeQueryHistoryRecords"
                    class="btn-link  siebui-d2p-history-icon siebui-icon-query-go siebui-d2p-history-executequery"
                    data-title="INTL_TITLE_GO" title="Go" style="display: none;"></span>

                <span data-bind="click: $root.undoQueryHistoryRecords"
                    class="btn-link siebui-d2p-history-icon siebui-icon-query-cancel siebui-d2p-history-undoquery"
                    data-title="INTL_TITLE_CANCEL" title="Cancel" style="display: none;"></span>

                <span data-bind="click: $root.deleteHistoryRecords"
                    class="siebui-d2p-history-icon siebui-icon-delete siebui-d2p-history-delete"
                    data-title="INTL_TITLE_DELETE" title="Delete" style="display: none;"></span>

                <span class="siebui-d2p-history-icon siebui-icon-delete siebui-d2p-history-delete-disabled disabled"
                    data-title="INTL_TITLE_DELETE" title="Delete"></span>
            </div>
        </div>

        <div id="historyLog" class="siebui-d2p-log-popup info hide">
            <div class="siebui-d2p-log-header" class="siebui-d2p-log-width">
                <div class="siebui-d2p-log-header-menu">
                    <div data-res="INTL_LABEL_LOG">Log</div>
                </div>
                <div class="siebui-d2p-log-button-pane">

                    <button id="logRefresh" class="btn siebui-d2p-log-refresh" data-res="INTL_TITLE_REFRESH">Refresh</button>
                    <a class="close siebui-icon-close"></a>
                </div>
            </div>
            <div class="siebui-d2p-log-content">
                <pre class="siebui-d2p-log-data">
                    <p id="historyLogContent"></p>
                </pre>
            </div>
        </div>
        <div class="siebui-d2p-grid-history">
            <table id="history-table"></table>
            <div id="historypager"></div>
        </div>
    </div>
</div>
