<div class="siebui-d2p-tab-content">
    <div class="siebui-action-area">
        <div class="siebui-area-title">
            <div data-res="INTL_TITLE_MIGRATION" class="siebui-title-header">Migration Plans</div>
            <div class="siebui-button-section siebui-title-header">
                <button id="addMigrationPlan" type="button" class="siebui-d2p-button btn"
                    data-bind="click: $root.saveMigrationPlan" data-res="INTL_SAVE_TEXT">
                    Save
                </button>
                <button id="cancelMigrationPlan" type="button" class="siebui-d2p-button btn"
                        data-bind="event: { mousedown: $root.cancelMigrationPlan }" data-res="INTL_CANCEL_TEXT">
                    Cancel
                </button>
            </div>
        </div>
        <div>
            <nav>
                <div class="siebui-d2p-avail-connections" data-res="INTL_AVAILABLE_CONNECTION">
                    Available Connections
                </div>
                <div class="siebui-d2p-migration-instance" data-bind="foreach: connections">
                    <div class="siebui-d2p-draggable-tile"
                         data-bind="attr: { title: name }, drag: {value: name}">
                        <!-- ko ifnot: status() == null -->
                        <span data-bind="visible: status"
                            class="siebui-d2p-connection-alive siebui-icon-connect-cloud siebui-d2p-connection-status"
                            data-title="INTL_TITLE_ACTIVE_STATUS" title="Active"></span>
                        <span data-bind="visible: !status()"
                            class="siebui-d2p-connection-not-alive siebui-icon-connect-cloud siebui-d2p-connection-status"
                            data-title="INTL_TITLE_NOT_ACTIVE_STATUS" title="Not Active"></span>
                        <!-- /ko -->

                        <!-- ko if: status() == null -->
                        <span data-bind="visible: !status()"
                            class="siebui-d2p-connection-unknown siebui-icon-connect-cloud siebui-d2p-connection-status"
                            data-title="INTL_TITLE_UNKNOWN_STATUS" title="Status Unknown"></span>
                        <!-- /ko -->
                        <div class="siebui-d2p-flowchart-pallet-obj"
                            data-bind="text: name, attr: {id:  id() , 'endpoint': restUrl(), 'connectionStatus' : status()}">
                        </div>
                    </div>
                </div>
            </nav>

            <article class="siebui-d2p-edit-form">
                <div class="siebui-d2p-edit-label siebui-d2p-padding-reset">
                    <span class="siebui-d2p-required" data-res="INTL_LABEL_NAME">Name</span>
                    <input type="text" class="siebui-d2p-edit-name siebui-d2p-validate-input"
                        data-bind="value: $root.migrationPlansUpdate.name(), event: { blur: $root.nameDescriptionValidation('name')} " id="migrationPlanName" placeholder ="Name of the Migration Plan" title ="Name of the Migration Plan"/>
                </div>
                <div class="siebui-d2p-edit-label">
                    <span class="siebui-d2p-required" data-res="INTL_LABEL_VERSION">Description</span>
                    <input type="text" class="siebui-d2p-edit-version siebui-d2p-validate-input"
                        data-bind="value: $root.migrationPlansUpdate.version(), event: { blur: $root.nameDescriptionValidation('description') }" id="migrationPlanVersion" placeholder="Description of the Migration Plan" title="Description of the Migration Plan"/>
                </div>
            </article>

            <article class="siebui-d2p-edit-drop">
                <div class="siebui-d2p-flowchart" id="canvas">
                    <div class="siebui-d2p-relation siebui-d2p-relation-source" ondragover="allowDrop(event)"
                        ondrop="dropSource(event)" data-bind="dropSource: {value: draggedSource}">
                        <div class="siebui-d2p-drop-icon">
                            <span id="resetSource"
                                class="siebui-icon-close-circle"></span>
                        </div>
                        <div class="siebui-d2p-source-placeholder"><span class="siebui-icon-actions"></span></div>
                        <div class="siebui-d2p-drop-content" data-placeholder="INTL_MIGRATION_SOURCE" class=""
                            id="migrationSource"
                            data-bind="text: $root.migrationPlansSource" data-title="INTL_DRAG_SOURCE_LABEL"
                            title="Drag & Drop a Connection from available Connections To Source">
                        </div>
                    </div>
                    <a class="siebui-d2p-arrow"></a>
                    <div class="siebui-d2p-relation siebui-d2p-relation-dest" ondragover="allowDrop(event)"
                        ondrop="dropDest(event)" data-bind="dropDest: {value: draggedDest}">
                        <div class="siebui-d2p-drop-icon">
                            <span id="resetDest" class="siebui-icon-close-circle"></span>
                        </div>
                        <div class="siebui-d2p-dest-placeholder"><span class="siebui-icon-actions"></span></div>
                        <div class="siebui-d2p-drop-content" data-placeholder="INTL_MIGRATION_DEST" id="migrationDest"
                            data-bind="text: $root.migrationPlansDestination" data-title="INTL_DRAG_DEST_LABEL"
                            title="Drag & Drop a Connection from available Connections To Target">
                        </div>
                    </div>
                </div>
            </article>

            <article id="data" class="siebui-d2p-article">
                <div class="siebui-d2p-migration-data">
                    <div class="siebui-area-title" style="width: 100%;">
                        <div class="siebui-d2p-resource-header" data-res="INTL_SUPPORTED_RESOURCES">
                            Supported Resources
                            For Migration
                        </div>
                        <div class=" siebui-icon-in-progress"
                            data-bind="visible: refreshEnable, click: $root.populateMigrationObjects"
                            data-title="INTL_TITLE_REFRESH" title="Refresh">
                        </div>
                        <div class=" siebui-icon-in-progress disabled" data-bind="visible: !refreshEnable()"
                            data-title="INTL_TITLE_REFRESH" title="Refresh">
                        </div>
                    </div>
                    <div class="siebui-d2p-migration-objects">
                        <div class="form-expand">
                            <a class="group-toggle siebui-accordionButtonEdit"><i
                                class="siebui-d2p-accordion siebui-icon-arrow-down"></i><span
                                    data-res="INTL_MIGRATION_RESOURCE_DBUTILS">Metadata and Files</span></a>

                            <fieldset
                                class="grid-padded form-collapse siebui-accordionContentEdit siebui-accordionContentDBEdit">
                                <!-- ko if: newmigrationplanResourcesDB().length > 0-->
                                <ul data-bind="foreach: newmigrationplanResourcesDB">
                                    <li>
                                        <!--<span class="siebui-icon-edit siebui-d2p-edit-migration-objects"
                                            data-bind="visible: isFullRepository, click: $root.getRRInfo"></span>-->
                                        <label data-bind="text: name, attr: { title: name }"
                                            class="siebui-d2-object-label siebui-d2p-migration-db">
                                        </label>
                                        <!-- ko ifnot: selected() == null -->
                                        <span data-bind="visible: selected, click: $root.toggleMigrationObjects"
                                            class="siebui-icon-checkbox-checked"></span>
                                        <span data-bind="visible: !selected(), click: $root.toggleMigrationObjects"
                                            class="siebui-icon-checkbox-unchecked"></span>
                                        <!-- /ko -->

                                        <!-- ko if: selected() == null -->
                                        <span data-bind="visible: !selected()"
                                              class="siebui-icon-checkbox-unchecked siebui-migration-disabled"></span>
                                        <!-- /ko -->

                                    </li>
                                </ul>
                                <!-- /ko -->
                                <!-- ko if: newmigrationplanResourcesDB().length == 0-->
                                <div class="siebui-accordian-nodata"></div>
                                <!-- /ko -->
                            </fieldset>
                        </div>

                        <div class="form-expand">
                            <a class="group-toggle siebui-accordionButtonEdit"><i
                                class="siebui-d2p-accordion siebui-icon-arrow-down"></i><span
                                    data-res="INTL_MIGRATION_RESOURCE_ADM">Application Deployment Manager Projects</span></a>
                            <fieldset
                                class="grid-padded form-collapse siebui-accordionContentEdit siebui-accordionContentADMEdit">
                                <!-- ko if: newmigrationplanResourcesADM().length > 0-->
                                <ul data-bind="foreach: newmigrationplanResourcesADM">
                                    <li>
                                        <label data-bind="text: name, attr: { title: name }"
                                            class="siebui-d2-object-label">
                                        </label>
                                        <input class="form-control siebui-d2p-sequence"
                                            data-bind="value: sequenceNo, enable: (selected && type() != 'DB Util')"
                                            type="number" min="1" data-title="INTL_TITLE_SEQUENCE"
                                            title="Sequence Number">
                                        <span data-bind="visible: selected, click: $root.toggleMigrationObjects"
                                            class="siebui-icon-checkbox-checked"></span>
                                        <span data-bind="visible: !selected(), click: $root.toggleMigrationObjects"
                                            class="siebui-icon-checkbox-unchecked"></span>
                                    </li>
                                </ul>
                                <!-- /ko -->
                                <!-- ko if: newmigrationplanResourcesADM().length == 0-->
                                <div class="siebui-accordian-nodata"></div>
                                <!-- /ko -->
                            </fieldset>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div id="migrationObjectEdit" class="siebui-d2p-log-popup info hide siebui-d2p-workspace-container">
            <div class="siebui-d2p-log-header">
                <div class="siebui-d2p-log-header-menu">
                    <div data-res="INTL_WORKSPACE_HEADER">Workspace Details</div>
                </div>
                <div class="siebui-d2p-log-button-pane">
                </div>
            </div>
            <div class="siebui-d2p-log-content" data-bind="with: migrationObjectData">
                <div class="siebui-d2p-workspace-header">
                    <div class="siebui-d2p-workspace-label" data-res="INTL_WORKSPACE_BRANCH_NAME">Workspace Branch Name</div>
                    <div class="siebui-d2p-workspace-value">
                        <select data-bind="options: workspaces,
                                optionsText: 'name',
                                value: wsNameSelected">
                        </select>
                    </div>
                </div>
                <div class="siebui-d2p-workspace-header">
                    <div class="siebui-d2p-workspace-label" data-res="INTL_WORKSPACE_VERSION_NUMBER">Version Number</div>
                    <div class="siebui-d2p-workspace-version">
                        <input type="number" min="0" id="workspaceVersion" data-bind="value: wsVersionSelected, attr: {max: wsMaxVersion}">
                    </div>
                </div>
                <div class="siebui-d2p-workspace-header">
                    <div class="siebui-d2p-workspace-label" data-res="INTL_WORKSPACE_LANGUAGES">Languages</div>
                    <div class="siebui-d2p-workspace-lang">
                        <ul data-bind="foreach: wsLanguages">
                            <li>
                                <span data-bind="text: $data"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="siebui-d2p-log-header">
                    <div class="siebui-d2p-log-header-menu">
                    </div>
                    <div class="siebui-d2p-log-button-pane">
                        <button class="btn siebui-d2p-log-refresh" data-bind="click: $root.saveRRInfo" data-res="INTL_SAVE_TEXT">Save</button>
                        <button class="btn siebui-d2p-log-refresh" data-bind="click: $root.cancelRRInfo" data-res="INTL_CANCEL_TEXT">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
