/*
 * ==============================================
 * Skin for oXygen generated WebHelp.
 * ==============================================
 *
 * GMB June 30, 2017 NORM-479
 * NORM-364, NORM-453, NORM-499, NORM-501
 * GMB June 23, 2017
 * Increased distance between header and search bar (NORM-480)
 * Synchronized search bar location across pages (NORM-482)
 * Added padding to bottom of body to allow full viewing of page (NORM-471)
 * Fixed all note types - so that icon is separated to left of para (NORM-487)
 *
 * GMB April 24, 2017 changed all backgrounds to #ffffff; (NORM-382)
 * GMB February 7, 2018 updated sections for publication title and search boxes with 19.1
 */


/*
 * ------------------------------------------------------------------
 *  
 * Fonts.
 *  
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,300");

html, body {
    min-width:100%;
}

body{
    font-family: 'Roboto', sans-serif;
	padding: 0 0 2em 0;
}


    /*
     * ------------------------------------------------------------------
     *
     * Fight with bootstrap
     *
     */
.navbar-brand{
    height:auto;
}
.navbar {
    border:none;
    border-radius:0;
    margin: 0px -15px;
}

.navbar.wh_footer {
		background: #0d7695;
		min-height: 10px;
		line-height: .4em;
}

.navbar-default.wh_footer > div{
	margin-top: -5px;
}
 
/*  GMB Leaving wh_header -- no specs in new entries from oxygen support */
.wh_header{
    background: #1d4a6d;
    color: #ffffff;
	position:relative;
    background-image: url('resources/images/tealblue-top-banner.png'); 
	background-color: #06a3d8;
	background-repeat:no-repeat;
    background-size:100% 100%;
}

.wh_publication_title {
    display:block;
	text-align: center;
}

/* GMB Added to fix Chrome issues */
/* GMB updated 3/6/2018 logo margin-left 4em */
@media (min-width: 768px) {
    .wh_logo {
        display: block;
        position: absolute;
        top: 0;
        margin-left: 4em;
    }

    .row .wh_search_input{
        padding: 10px 0 0 0;
		margin: 0 0 20px 50px;
    }

    #searchForm {
       margin: 0 0 -.75em 0;
    }
	
	#searchForm > div {
        width: calc( 100% );
        margin: 0 0 0 0;
        max-width: none;
    }

    .wh_main_page_toc {
        width: calc( 100% - 50px );
        margin: .75em 0 .75em 50px;
    }

    #textToSearch {
        font-size: 1.5em;
		line-height:0;
		height: 1.7em;
    }

    .wh_footer {
        padding: 1em 0 1em 0;
        position: fixed;
        bottom: 0;
        width: 105%;
        text-align: left;
    }

    .footer-container {
        position: relative;
		margin-left: 20px;
    }

    .wh_header {
        padding: 0;
    }
}

/* GMB Change toc to hide shortdesc */
/* NORM-499 */
.wh_toc_shortdesc {
		display: none;
}

a,
a:focus,
a:hover,
a:visited{
    color: #1D5AAB;    
	background: white;
}
a:hover{
    text-decoration: none;
}


/*
 * ------------------------------------------------------------------
 *  
 * Publication titles
 *  
 */
.chrome .wh_publication_title > a{
    margin: 20px 0 20px 20px;
}

/* Code Added to fix logo too far left in Mozilla */
@-moz-document url-prefix() {
   .wh_publication_title {
        width: 1250px;
		margin-left: -13em;
		margin-right: auto;
    }
}
/* End GMB Mozilla */


.wh_publication_title > a{
	 font-family: 'Arial Narrow Bold', sans-serif; 
     color:#fff;
     font-size: 1.7em;
	 padding: 10px;
	 text-align: center;
	 margin: 1em 0 1em 15em;
	 background: transparent;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
    .wh_publication_title > a{
	 
	 margin: 20px 0 20px 15em;
	 }
}


/*
 * ------------------------------------------------------------------
 *  
 * Menu
 *  
 */
.wh_top_menu {
    text-transform: uppercase;
    margin: .4em 0;
    font-size: 0.9em;
}
.wh_top_menu a{
    color: #fff;
    line-height: 2em;
}

/* The submenus */

.wh_top_menu ul ul {
    background-color: #ffffff;
}
.wh_top_menu ul li:hover {
    background-color: #ffffff;
}
.wh_top_menu ul ul li a:hover {
    background: #ffffff;
}
.wh_top_menu ul ul li {
    border-top-color: #000;
    width: 270px;
    text-transform: capitalize;
}
.wh_top_menu ul ul li.has-children:after{
}

/*
 * ------------------------------------------------------------------
 *  
 * Link to the index.
 * 
 */
 .wh_indexterms_link a span{
    display:none;
}
.wh_indexterms_link a:before{
    color:#fff;
}


/*
 * ------------------------------------------------------------------
 *  
 * Breadcrumb
 *  
 */
 
 .wh_breadcrumb
 {font-size: 16px;
 }
 
 .wh_breadcrumb li:not(:last-of-type):after {
    content: "|";
    padding: 0 10px;
}

.wh_breadcrumb ol {
    color: #58585a;
	margin: 0 0 0 50px;
	padding: 1em 0 2em 0;
}
.wh_breadcrumb ol a {
    color:inherit;
}
.wh_breadcrumb ol .active {
    color: #2874bd;
}


/*
 * ------------------------------------------------------------------
 *  
 * Tools and navigation
 * 
 */
.wh_tools{
    background-color: #ffffff;
	margin: 5px 0px;
    /* margin: 1em 0 2em;  */
	/* border: solid 1px #737373 */
}

.wh_print_link,
.wh_navigation_links,
.wh_navigation_links .navnext,
.wh_navigation_links .navprev{
font-size: 18px;
/*font-size: 16px;*/
}


.wh_print_link a,
.wh_navigation_links a,
.wh_navigation_links a:hover,
.wh_navigation_links a:active,
.wh_navigation_links a:visited,
.wh_print_link a:before,
.wh_navigation_links a:before,
.wh_navigation_links a:hover:before,
.wh_navigation_links a:active:before,
.wh_navigation_links a:visited:before{
    color: #347bb7;
    text-decoration: none;
}


/*
 * ------------------------------------------------------------------
 *  
 * Tiles
 * 
 */
.wh_tile {
    background-color: #ffffff;
    font-weight: 300;
}
.wh_tile_shortdesc{
    margin-top:1em;
    text-align: center;
    color: #0D1A2B;
    font-size:1.1em;
}
.wh_tile_text:after{
    background: linear-gradient(to bottom, rgba(236, 242, 249, 0), rgba(236, 242, 249, 1) 75%);
}
.wh_tile_title{
    font-size:1.7em;
    text-align: center;
    text-decoration: none;
}
.wh_tile_title a{
    color: #3077be;
}
@media only screen and (max-width: 767px) {
    .wh_tile > div {
        height: auto;
    }
}

/* 
You can style some of the tiles in a special way. 
Example:
.wh_tiles *[data-id='getting_started']{
    background-color:gray;
}
*/


/*
 * ------------------------------------------------------------------
 *  
 * Search area
 * 
 */
 /* GMB Waiting for response if change */

/* GMB Also see section above for Chrome issues */
.wh_search_input{
    display:block;
    /* position:relative;
    background-image: url('resources/images/tealblue_top_banner.jpg'); 
	background-size: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #06a3d8; 
    padding: 10px;*/
}

.wh_welcome:not(:empty){
    font-size: 4em;
    margin: 0 auto;
    font-family: 'Roboto Thin', sans-serif;
    padding: 0 0 1.5em 0;
    text-shadow: none;
}

.wh_logo_and_publication_title {
    align-items: left;
}

/* GMB settings for main page (index.html) search bar fomatting */
.wh_main_page .wh_content_area .wh_search_input{
	margin: 2.1em -1em 2em 2.5em; */
}

/* GMB settings for topic page - search input bar 
/* Changed to use .frmBody .container .wh_search_input, as
/* not all topic pages have a div with wh_topic_page
/*  Example:  Service Cloud User Guide > Core Features > Getting Started for Administrators > Optional Configuration Items */
/*.wh_topic_page .wh_search_input {
    padding: 4.1em 0 2em 2em;
    margin: -2em 0 0 1.5em;
} */

.frmBody .container .wh_search_input  {
	margin: 2.1em 0 2em 3.5em;
}

.wh_search_textfield{
    border: solid 1px #CCC;
    border-radius: 5px;
    padding: 0 .5em;
    position: relative;
    height: 2.8em;
}
.wh_search_button{
    border: solid 1px #CCC;
    border-radius: 0 5px 5px 0;
    padding: 0 .5em;
    color:#fff;
    background-color: #747577;
}

@media only screen and (max-width: 767px) {
    .wh_main_page .wh_search_input,
    .wh_search_input {
        padding: 3em 0;
    }
}


/*
 * ------------------------------------------------------------------
 *  
 * Side TOC
 * 
 */
.wh_side_toc, .wh_publication_toc{
    border-radius: 3px;
	border: solid 1px #737373;
    padding: 1.5em 2em;
    background-color: #ffffff;
	margin: 0 0 50px 50px;
}
.wh_side_toc .active, .wh_publication_toc .active {
    color: #2874bd;
}
.wh_side_toc a, .wh_side_toc a:visited, .wh_side_toc a:hover, .wh_publication_toc a, .wh_publication_toc a:visited, .wh_publication_toc a:hover {
    color: #425563;
}
.wh_side_toc a:hover, .wh_publication_toc a:hover {
    text-decoration: underline;
}

.wh_side_toc  ul  li, .wh_publication_toc  ul  li{
    margin: .7em 0;
}
.wh_side_toc > ul > li > span, .wh_publication_toc > ul > li > span{
    font-size: 1.2em;
}

@media only screen and (max-width: 767px) {
    .wh_side_toc, .wh_publication_toc {
        border-radius: 0;
        padding: 1em 0.5em;
        margin-top: 10px;
        border: 1px solid #e0e0e0;
    }

    .wh_related_links,
    .wh_child_links,
    .wh_topic_content .related-links{
        border: 1px solid #e0e0e0;
    }
}


/*
 * ------------------------------------------------------------------
 *
 * Footer
 * 
 */
.wh_footer a{
    color: #ffffff;
	font-size: 11px;
	background: transparent;}

/*
 * ------------------------------------------------------------------
 *  
 * Topic content
 * 
 */
 
 .container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}
 
 .row {
	margin-right: auto;
	margin-left: auto;
}
.wh_topic_content,.wh_content_area {
    color: #000000;
}

.wh_topic_content.body {
	margin-left: 16px;
}

.wh_main_page .wh_content_area {
    margin: auto auto;
	width: 1170px;
}

.wh_topic_content .title.topictitle1 {
    /* color: #346ec5; */
	color: #2874bd;
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1.1em;
}

.wh_related_links,
.wh_child_links,
.wh_topic_content .related-links{
    background-color: #ffffff;
    margin-top: 1em;
}

.wh_related_links,
.wh_topic_content .related-links{
    padding: .5em 1.5em ;
}

.wh_child_links {
    padding: 1.5em ;
}

/* NORM-502 */
.related-links strong{
    font-weight: 700;
	font-size: 110%;
	color: #1D5AAB;
}

/* GMB NORM-494 */
.related-links a,
.related-links a:visited {
    color: #1D5AAB;
    display:inline-block;
}

.relconcepts {
	padding-bottom: 1em;
}
/* end NORM-494 */

.filepath {
    color: #c7254e !important;
}

.oracle_tagline {
	margin-bottom: 0px;
	margin-left: 40px;
}

/*
 * ------------------------------------------------------------------
 *  
 * Search results.
 * 
 */
 
/* GMB settings for search results page formatting */
.wh_search_page .wh_search_input{
	padding: 0.1em 0 2em 1.5em;
	margin: 2em 0 0 2em;
}


/* GMB Settings for search results page - results ("108 documents found") */
.wh_search_results_items {
	padding: 0.5em 0 0.5em 0; 
	margin: 0 -1em 0 2.5em;
}

/* GMB Hide relative path to html file in search results */
/* NORM-453 */
.searchresult .relativePath {
	display: none;
}

.searchresult {
    list-style: none;
}
.searchresult li{
    padding: .5em;
}
.searchresult li a, 
.wh_search_expression{
    color:#346ec5;
}

.wh_search_expression{
    font-weight:bold;
}


/*
 * ------------------------------------------------------------------
 *  
 * Index terms.
 * 
 */
.wh_index_terms span.wh_first_letter {
    color: #346ec5;
}
.wh_index_terms #indexList{
    padding:0;
}



/*
 * ------------------------------------------------------------------
 *  
 * Tree TOC for the main page.
 * 
 */


.wh_main_page_toc .expanded, .wh_main_page_toc .wh_main_page_toc_accordion_header:hover, .wh_main_page_toc>.wh_main_page_toc_entry:hover, .wh_main_page_toc_accordion_entries{
    background-color: #ffffff;
}

/**
 *
 * Styles used for RTL pages
 *
 */
html[dir='rtl'] .wh_top_menu ul li:hover > ul {
    max-width: 270px;
}

/* GMB Special Cases */
.tablenoborder span.desc.tabledesc {
     display:none;
}

/* GMB NORM-479 */
.table {
	background-color: rgba(255, 255, 255, 255);
	border-style: none;
}

.table > thead > tr > th {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 10pt;
    font-weight: 200;
    font-style: normal;
    font-variant: normal;
    border-style: none;
	line-height: 1em;
	border-bottom: 2px solid white;
	padding-left: .5em;
	padding-right: .5em;
}

.table > tbody > tr > td 
 {
    vertical-align: top;
    text-align: left;
    border-bottom: thin solid #3F3F3F;
	border-top: thin solid #FFFFFF;
	border-left: none;
	border-right: none;
    padding-left: .5em;
    padding-right: .5em;
    margin: 0;
}

/* END NORM-479 */


/* NORM-501 */
.table {
	margin-top: 20px;
}
/* GMB Removed code to hide caption */

/* NORM-487 */
.note {
	margin: 0 0 0 1em; 
	padding: 15px 15px 10px 50px;
}

.note.note {
	background: url("../../../../../oxygen-webhelp/resources/img/icon-note-16.png") no-repeat 24px 19px;
}
.note.tip {
	background: url("../../../../../oxygen-webhelp/resources/img/icon-tip-16.png") no-repeat 24px 19px;
}
.note.warning {
	background: url("../../../../../oxygen-webhelp/resources/img/icon-warning-16.png") no-repeat 24px 19px;
}
.note.important, .note.notice, .note.attention {
	background: url("../../../../../oxygen-webhelp/resources/img/icon-important-16.png") no-repeat 24px 19px;
}
.note.caution {
	background: url("../../../../../oxygen-webhelp/resources/img/icon-caution-16.png") no-repeat 24px 19px;
}
.note.trouble {
	background: url("../../../../../oxygen-webhelp/resources/img/troubleshooting.svg") no-repeat 24px 19px;
}
.note.remember {
	background: url("../../../../../oxygen-webhelp/resources/img/remember.svg") no-repeat 24px 19px;
}
.note.restriction {
	background: url("../../../../../oxygen-webhelp/resources/img/icon-restrict-16.png") no-repeat 24px 19px;
}
.note.danger {
	background: url("../../../../../oxygen-webhelp/resources/img/danger.svg") no-repeat 24px 19px;
}

.notetitle, .tiptitle, .warningtitle, .importanttitle, .attentiontitle, 
.noticetitle, .cautiontitle, .troubletitle, .remembertitle, .restrictiontitle,
 .dangertitle {
font-weight: bold !important;
padding: 4px 4px 4px 0px;
background-image: none !important;
}

/*Note type NOTE and REMEMBER: BLUE*/
.notetitle, .remembertitle {
	color: #1D5AAB !important;
}
/*Note type TIP: GREEN*/
.tiptitle {
	color: #218041 !important;
}
/*Note type IMPORTANT, NOTICE, ATTENTION: PURPLE*/
.importanttitle, .noticetitle, .attentiontitle {
	color: #7c2482 !important;
}
/*Note type WARNING, RESTRICTION, DANGER: RED*/
.restrictiontitle, .warningtitle, .dangertitle  {
	color: #D34349 !important;
}

/* NORM-364 */
/* Change caution note text to plain text */
.caution { 
margin-top: 1em; 
font-weight: normal !important;
}

.cautiontitle {
	color: #D6A042 !important;
}

/* NORM-483 */
#star {
	display: none;
}
/* NORM-497 */
.wintitle {
	font-weight: normal !important;
}
/* end GMB Special Cases */